# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/chang?schema=public"

# Admin Password
ADMIN_PASSWORD = nigga

# Bucket Name
BUCKET = chang
# Cloudflare/AWS Account ID
ACCOUNT_ID = 
# S3 Access Key
ACCESS_KEY = 
# S3 Access Key
SECRET_KEY = 
# S3 Public URI
R2_PUBLIC =

# Use this token for authenticating against the Cloudflare API:
TOKEN =
